*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* regole condivise */
body{
  font-family: 'Roboto', sans-serif;
}

nav, main section:first-child, main section:last-child, footer .container{
  width: 80%;
  margin:auto;
}

.section-grey{
  width: 100%;
  background-color: #D3D3D3;
  /* debug */
  /* height: 10vh; */
}

.row:after, nav{
  display: table;
  clear: both;
  content:'';
}

.grey-text{
  color:#818181;
}

p.grey-text{
  margin-top: 10px;
}

hr{
border: 1px solid black;
margin: 10px auto;
}

/* regole header */
header{
  padding-top: 1%;
  background-color: #0C325A;
}

nav{
  font-size: 10px;
  height: 40px;
  /* debug */
  /* background-color: blue; */
  /* height: 10%; */
}

.menu, nav img{
  float:left;
  line-height: 40px;
}

.nav-actions{
  float:right;
  line-height: 40px;
}

.menu{
  margin-left: 5%;
}

ul li{
  display: inline-block;
}

 li a, button{
  color:white;
  text-decoration: none;
}

li a, #login{
  margin-right: 10px;
}

button{
  background-color: transparent;
  padding: 10px;
  border-radius: 5px;
  font-size: 10px;
}

#login{
  border: 1px solid white;
  padding-left: 30px;
  padding-right: 30px;
}

.acid-green{
  background-color: #7CBB02;
  border: 1px solid #7CBB02;
}

/* regole jumbotron */
.jumbotron{
  background-image: url('../img/background-header.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position:right bottom;
  height: 300px;
  background-color: #0C325A;
  position: relative;
  margin-top: 30px;
}

.jumbotron-description{
  position:absolute;
  width: 40%;
  left: 10%;
  bottom: 20%;
}

.jumbotron-description h1{
  font-size: 50px;
  margin-bottom: 5%;
  color: white;
}

.jumbotron button{
  padding: 20px;
}

/* regole barra descrittiva */
section.section-grey{
  text-align: center;
  padding: 20px 0 20px;
}

/* regole corpo centrale */
.row{
  width: 100%;
  /* debug */
  /* height: 20vh; */
}

.elemento img{
  margin: 20px auto 20px;
}

/* regole punti di forza */
.row.why{
  /* debug */
  /* background-color: green; */
}

.why .elemento{
  float: left;
  width: 30%;
  margin-bottom: 20px;
  /* debug */
  /* height: 20vh; */
  /* background-color: red; */
}

.elemento.central{
  margin: 0 5% 0;
}

.why > .elemento img{
  height: 200px;
  object-fit: contain;
  display: block;
}

.aside img{
  width: 50%;
}

.central img{
  width: 80%;
}

.elemento h3{
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
}

.elemento h3, .elemento div.grey-text{
  text-align: center;
}

.elemento div.grey-text{
  margin-top: 20px;
}

div hr{
  width: 30%;
}

.acid-green-text{
  color: #7CBB02;
}

/* regole come iscriversi */
.row.how{
  /* debug */
  /* background-color: darkgreen; */
}

.how > .elemento img{
  width: 100%;
  height: 400px;
  object-fit: contain;
}

.how .elemento{
  float: left;
  width: 50%;
  /* debug */
  /* height: 20vh; */
  /* background-color: pink;
  border:solid 1px black; */
}

.how div:last-child{
 padding: 30px;
}

.how div:last-child > *{
  width: 80%;
}

.how :nth-last-child(2){
  margin-top: 10px;
  margin-bottom: 10px;
}

/* regole footer */
footer.section-grey{
  height: 100px;
  position: relative;
}

.blocco{
  display: inline-block;
}

.blocco.sinistra{
  width: 60%;
  line-height: 100px;
  /* debug */
  /* height: 10vh; */
  /* background-color: yellow; */
}

.blocco.sinistra a{
  text-decoration: none;
  color: black;
}

.blocco.centro{
  width: 20%;
  line-height: 100px;
  /* debug */
  /* background-color: orange; */
}

.blocco.destra{
width: 12%;
position: absolute;
bottom:0;
text-align: center;
}

select{
  text-decoration: underline;
  border: 0px;
  background-color: #D3D3D3;
  margin-left: 10px;
}
